@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ERROR PAGE -->
<section class="bg-home d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 text-center">
                <img src="~/images/404.svg" class="img-fluid" alt="">
                <div class="text-uppercase mt-4 display-3">وای نه!</div>
                <div class="text-capitalize text-dark mb-4 error-page">@ViewBag.ErrorMessage</div>
                <p class="text-muted para-desc mx-auto">شروع به کار با <span class="text-primary fw-bold"> مسیر سبز  </span> شمارا به مسیر درست هدایت می کند</p>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" onclick="window.history.back();" class="btn btn-outline-primary mt-4">برو عقب</a>
                <a href="/" class="btn btn-primary mt-4 ms-2">برو صفحه اصلی </a>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- ERROR PAGE -->
