@using System.Security.Claims
@{
	ViewData["Title"] = "UserInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Start -->
<section class="bg-profile d-table w-100" style="background: url('/images/account/bg.png') center center;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-lg-2 col-md-3 text-md-start text-center">
								<img src="/images/client/UserUnknow.jpg" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
							</div><!--end col-->

							<div class="col-lg-10 col-md-9">
								<div class="row align-items-end">
									<div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">

										@if (User.Identity.IsAuthenticated)
										{
											var givenNameClaim = User.FindFirst(ClaimTypes.GivenName);
											var surnameClaim = User.FindFirst(ClaimTypes.Surname);

											if (givenNameClaim != null && surnameClaim != null)
											{
												<h3 class="title mb-1">@givenNameClaim.Value @surnameClaim.Value</h3>
											}

											else
											{
												<h3 class="title mb-3">
													<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#login-popup" class="btn btn-outline-danger mt-2 me-2">نام و نام خانوادگی خود را وارد کنید</a>
												</h3>
											}

											<small class="text-muted h6 me-2">@User.Identity.Name</small>
										}

										<ul class="list-inline mb-0 mt-3">
										</ul>
									</div><!--end col-->
									<div class="col-md-5 text-md-end text-center">
										<ul class="list-unstyled social-icon social mb-0 mt-4">
											<li class="list-inline-item"><a href="javascript:void(0)" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Friend"><i class="uil uil-user-plus align-middle"></i></a></li>
											<li class="list-inline-item"><a href="javascript:void(0)" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="پیام ها "><i class="uil uil-comment align-middle"></i></a></li>
											<li class="list-inline-item"><a href="javascript:void(0)" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="اعلانات"><i class="uil uil-bell align-middle"></i></a></li>
											<li class="list-inline-item"><a href="#" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="تنظیمات"><i class="uil uil-cog align-middle"></i></a></li>
										</ul><!--end icon-->
									</div><!--end col-->
								</div><!--end row-->
							</div><!--end col-->
						</div><!--end row-->
					</div>
				</div>
			</div><!--end col-->
		</div><!--end row-->
	</div><!--ed container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Profile Start -->
<section class="section mt-60">
	<div class="container mt-lg-3">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
				<div class="sidebar sticky-bar p-4 rounded shadow">

					<div class="widget mt-4">
						<ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
							<li class="navbar-item account-menu px-0">
								<a href="#" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
									<span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
									<h6 class="mb-0 ms-2">پروفایل </h6>
								</a>
							</li>

							<li class="navbar-item account-menu px-0 mt-2">
								<a href="#" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
									<span class="h4 mb-0"><i class="uil uil-users-alt"></i></span>
									<h6 class="mb-0 ms-2">اعضا </h6>
								</a>
							</li>

							<li class="navbar-item account-menu px-0 mt-2">
								<a href="#" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
									<span class="h4 mb-0"><i class="uil uil-file"></i></span>
									<h6 class="mb-0 ms-2">نمونه کار </h6>
								</a>
							</li>

							<li class="navbar-item account-menu px-0 mt-2">
								<a href="#" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
									<span class="h4 mb-0"><i class="uil uil-envelope-star"></i></span>
									<h6 class="mb-0 ms-2">پیام ها </h6>
								</a>
							</li>

							<li class="navbar-item account-menu px-0 mt-2">
								<a href="#" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
									<span class="h4 mb-0"><i class="uil uil-transaction"></i></span>
									<h6 class="mb-0 ms-2">پرداخت ها </h6>
								</a>
							</li>

							<li class="navbar-item account-menu px-0 mt-2">
								<a href="#" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
									<span class="h4 mb-0"><i class="uil uil-setting"></i></span>
									<h6 class="mb-0 ms-2">تنظیمات </h6>
								</a>
							</li>

							<li class="navbar-item account-menu px-0 mt-2">
								<a href="#" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
									<span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
									<h6 class="mb-0 ms-2">خروج </h6>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div><!--end col-->

			<div class="col-lg-8 col-12">

				<div class="border-bottom pb-4">
					<div class="row">
						<div class="col-md-6 mt-4">
							<h5>جزئیات شخصی :</h5>
							<div class="mt-4">
								<div class="d-flex align-items-center">
									<i data-feather="mail" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">ایمیل :</h6>
										<a href="javascript:void(0)" class="text-muted">kristajoseph0203@mail.com</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="bookmark" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">مهارت :</h6>
										<a href="javascript:void(0)" class="text-muted">html</a>, <a href="javascript:void(0)" class="text-muted">css</a>, <a href="javascript:void(0)" class="text-muted">js</a>, <a href="javascript:void(0)" class="text-muted">mysql</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="italic" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">زبان :</h6>
										<a href="javascript:void(0)" class="text-muted">انگلیسی</a>, <a href="javascript:void(0)" class="text-muted">ژاپنی</a>, <a href="javascript:void(0)" class="text-muted">چینی</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="globe" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">وب سایت:</h6>
										<a href="javascript:void(0)" class="text-muted">www.kristajoseph.com</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="gift" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">تاریخ تولد :</h6>
										<p class="text-muted mb-0">تیر 1377</p>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="map-pin" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">موقعیت :</h6>
										<a href="javascript:void(0)" class="text-muted">چین</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="phone" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">شماره تلفن :</h6>
										<a href="javascript:void(0)" class="text-muted">(+12) 1254-56-4896</a>
									</div>
								</div>
							</div>
						</div><!--end col-->

						<div class="col-md-6 mt-4">
							<h5> </h5>
							<div class="mt-4">
								<div class="d-flex align-items-center">
									<i data-feather="mail" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">ایمیل :</h6>
										<a href="javascript:void(0)" class="text-muted">kristajoseph0203@mail.com</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="bookmark" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">مهارت :</h6>
										<a href="javascript:void(0)" class="text-muted">html</a>, <a href="javascript:void(0)" class="text-muted">css</a>, <a href="javascript:void(0)" class="text-muted">js</a>, <a href="javascript:void(0)" class="text-muted">mysql</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="italic" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">زبان :</h6>
										<a href="javascript:void(0)" class="text-muted">انگلیسی</a>, <a href="javascript:void(0)" class="text-muted">ژاپنی</a>, <a href="javascript:void(0)" class="text-muted">چینی</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="globe" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">وب سایت:</h6>
										<a href="javascript:void(0)" class="text-muted">www.kristajoseph.com</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="gift" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">تاریخ تولد :</h6>
										<p class="text-muted mb-0">تیر 1377</p>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="map-pin" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">موقعیت :</h6>
										<a href="javascript:void(0)" class="text-muted">چین</a>
									</div>
								</div>
								<div class="d-flex align-items-center mt-3">
									<i data-feather="phone" class="fea icon-ex-md text-muted me-3"></i>
									<div class="flex-1">
										<h6 class="text-primary mb-0">شماره تلفن :</h6>
										<a href="javascript:void(0)" class="text-muted">(+12) 1254-56-4896</a>
									</div>
								</div>
							</div>
						</div><!--end col-->
					</div><!--end row-->
				</div>

			</div><!--end col-->
		</div><!--end row-->
	</div><!--end container-->
</section><!--end section-->
<!-- Profile End -->


@section Modals
{
	<!-- Login Form Start -->
	<div class="modal fade" id="login-popup" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog  modal-md modal-dialog-centered">
			<div class="modal-content rounded shadow border-0">
				<div class="modal-body p-0">
					<div class="container-fluid px-0">
								<form class="login-form p-4">
									<div class="row">
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">نام <span class="text-danger">*</span></label>
												<div class="form-icon position-relative">
													<i data-feather="user" class="fea icon-sm icons"></i>
													<input class="form-control ps-5" placeholder="نام" name="email" required="">
												</div>
											</div>
										</div><!--end col-->

										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">نام خانوادگی  <span class="text-danger">*</span></label>
												<div class="form-icon position-relative">
													<i data-feather="key" class="fea icon-sm icons"></i>
													<input class="form-control ps-5" placeholder="نام خانوادگی " required="">
												</div>
											</div>
										</div><!--end col-->

										<div class="col-lg-12 mb-0">
											<div class="d-grid">
												<button class="btn btn-primary">ثبت </button>
											</div>
										</div><!--end col-->
									</div><!--end row-->
								</form>
					</div><!--end container-->
				</div>
			</div>
		</div>
	</div>
	<!-- Login Form End -->
}
