@addTagHelper *, LazZiya.TagHelpers
@using S.K.Sabz.Application.Services.Blog.Queries.GetPostForAdmin;
@model PostForAdminDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!--begin::اصلی-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">مدیریت پست ها</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
						<!--begin::item-->
						<li class="breadcrumb-item text-muted">
							<a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">خانه</a>
						</li>
						<!--end::item-->
						<!--begin::item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::item-->
						<!--begin::item-->
						<li class="breadcrumb-item text-muted">مقالات</li>
						<!--end::item-->
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content flex-column-fluid">
			<!--begin::Content container-->
			<div id="kt_app_content_container" class="app-container container-xxl">
				<!--begin::خانه card-->
				<div class="card">
					<!--begin::Body-->
					<div class="card-body p-lg-20">
						<!--begin::Section-->
						<div class="mb-17">
							<!--begin::Content-->
							<div class="d-flex flex-stack mb-5">
								<!--begin::Title-->
								<h3 class="text-dark">تمامی پست ها</h3>
								<!--end::Title-->
								<!--begin::افزودن product-->
								<a href="/Admin/BlogList/AddNewPost" class="btn btn-primary">افزودن پست جدید</a>
								<!--end::افزودن product-->
							</div>

							<!--end::Content-->
							<!--begin::Separator-->
							<div class="separator separator-dashed mb-9"></div>
							<!--end::Separator-->
							<!--begin::Row-->
							<div class="row g-10">

								<!--begin::Col-->

										@foreach (var post in Model.Posts)
										{
									<div class="col-md-4">

										<div class="card-xl-stretch me-md-6">

											<!--begin::Overlay-->
											@if (post.Images.Any())
											{
												var lastPostImage = post.Images.Last();
												<a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="~/@lastPostImage.Src">
													<!--begin::Image-->
													<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/@lastPostImage.Src.Replace("\\", "/")')"></div>
													<!--end::Image-->
													<!--begin::Actions-->
													<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
														<i class="ki-duotone ki-eye fs-2x text-white">
															<span class="path1"></span>
															<span class="path2"></span>
															<span class="path3"></span>
														</i>
													</div>
													<!--end::Actions-->
												</a>
											}

											<!--end::Overlay-->
											<!--begin::Body-->
											<div class="mt-5">
												<!--begin::Title-->
												<a href="#" class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">@post.Title</a>
												<!--end::Title-->
												<!--begin::Text-->
												<div class="fw-semibold fs-5 text-gray-600 text-dark mt-3">
													@{
														var truncatedDescription = post.Description;
														if (truncatedDescription.Length > 70)
														{
															truncatedDescription = truncatedDescription.Substring(0, 70);
														}
														@Html.Raw(truncatedDescription)
													}...
												</div>
												<!--end::Text-->
												<!--begin::Text-->
												<div class="fs-6 fw-bold mt-5 d-flex flex-stack">
													<!--begin::Tags-->
													<span class="badge border border-dashed fs-2 fw-bold text-dark p-2">
														@post.ViewCount <span class="fs-6 fw-semibold text-gray-400">بازدید</span>
													</span>
													<!--end::Tags-->
													<!--begin::Actions-->
													<div class="d-flex align-items-center">
														<a href="/Admin/BlogList/EditPost?postId=@post.Id" class="btn btn-sm btn-info me-1">ویرایش</a>
														<a href="#" onclick="RemovePost('@post.Id')" class="btn btn-sm btn-danger">حذف</a>
													</div>
													<!--end::Actions-->
												</div>
												<!--end::Text-->
											</div>
											<!--end::Body-->
										</div>
									</div>
										}

								<!--end::Col-->

							</div>
							<!--end::Row-->
						</div>
						<!--end::Section-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::خانه card-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Content wrapper-->

@section Scripts
{
	<script src="/AdminTemplate/assets/js/remove.post.js"></script>
	<script src="/AdminTemplate/assets/js/edit.post.js"></script>
}